@media screen and (min-width:992px){
    
    /************************
    main
    ************************/

    main{
        max-width: 100%;
    }

    h2{
        font-size: 40px;
    }

    .jumbotron{
        display: flex;
    }

    .descrizione > ul{
        display: block;
    }

}

@media screen and (min-width:1035px){
    main{
        max-width: 1035px;
    }
}