/******** 
reset 
********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
    width: 100%;
}


/******** 
common
********/

.container {
    display: flex;
}

.debug{
    /* display: none; */
    border: 1px dashed #000000; 
}

.inl{
    display: inline;
}

.inl-bl{
    display: inline-block;
}

body{
    background-color: #f6f5f3;
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
}



/************************
    header
************************/


header{
    background-color: #ffffff;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

h1{
    color: #ff9614;    
    font-family: 'Nerko One', serif;
    font-size: 40px;
    font-weight: 100;
    padding: 10px 0 10px; 
    text-shadow: 1px 1px 1px #929292;
}


/************************
    main
************************/

main{
    max-width: 90%;
    margin: 30px auto 50px;
}

.categoria{
    text-decoration: none;
    color: #929292;
    font-size: 15px;
    margin-bottom: 20px;
}

h2{
    color: #4e3969;
    font-size: 24px;
    margin-bottom: 35px;
}

h2 > span{
    display: none;
}


/******** 
jumbotron
********/

.descrizione{
    background-color: #ffffff;
    box-shadow: 0 1px 5px 2px #dedede;
    padding: 40px 25px 50px;
}

h4{
    font-size: 20px;
    margin-bottom: 40px;
}

.descrizione > ul{
    list-style: none;
    line-height: 2.5;
}


/******** 
socials
********/

.socials{
    padding: 35px 0;
    justify-content: space-between;
}

.socials > a{
    text-decoration: none;
    color: #000000;
}

.social{
    background-color: #ffffff;
    box-shadow: 0 1px 5px 2px #dedede;
    padding: 15px 20px; 
    border-radius: 30px;
}

.social strong{
    display: none;
}

.fa-facebook{
    color: #1a77f3;
}

.fa-twitter{
    color: #009eff;
}

.fa-instagram{
    color: #dc75be;
}

.fa-pinterest{
    color: #eb4522;
}

.fa-youtube{
    color: #e62222;
}

