@media screen and (min-width:768px){


    /************************
    header
    ************************/

    header{
        text-align: left;
        padding-left: 25px;
    }


    /************************
    main
    ************************/

    main{
        max-width: 85%;
        margin: 60px auto 50px;
    }

    h2 > span{
        display: inline;
    }

    .descrizione > ul{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }

    .socials{
        gap: 20px;
    }

    .social{
        padding: 15px calc(100% / 10 - 80px / 10 - 16px);
    }

    .banner{
        display: block;
    }

}